*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

.container{
    background: white;
    padding: 5rem;
    border-radius: 5px;
    
}

.special{
    background-color: red;
    border-radius: 2px;
    padding: 5px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.form-control{
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    /* margin: 20px 0 40px; */
}

input{
    width: 100%;
    font-size: 18px;
    background: transparent;
    outline: none;
    border: 0;
    padding: 15px 0;
    display: block;
    border-bottom: 2px solid black;
}
input:focus, input:valid{
    outline: none;
    border-bottom-color: rgb(221, 135, 148) ;
}

label{
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 18px;
}

label:focus{
    color: crimson;
    transform: translateY(-30px);
}

.btn{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    background-color: crimson;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: crimson;
    transform: translateY(-30px);
  }


