*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 100vh;
    background-color: rgb(51, 41, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    width: 900px;
    display: flex;
    overflow: scroll;
}
img{
    /* background-size: contain; */
    height: 200px;
    /* width: 300px; */
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;
    filter: grayscale(100);
    transition: transform ;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#backbtn, #nextbtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
    background: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: whitesmoke;
}
.gallery div img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
    cursor: pointer;
}
